<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zixi.shop.dao.SysMenuMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.zixi.shop.entity.SysMenu" id="menuMap">
        <result property="menuId" column="menu_id"/>
        <result property="menuName" column="menu_name"/>
        <result property="parentId" column="parent_id"/>
        <result property="orderNum" column="order_num"/>
        <result property="url" column="url"/>
        <result property="menuType" column="menu_type"/>
        <result property="visible" column="visible"/>
        <result property="perms" column="perms"/>
        <result property="icon" column="icon"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>
    <select id="selectPermsByUserId" parameterType="Long" resultType="String">
        SELECT DISTINCT
            m.perms
        FROM
            sys_menu m
        LEFT JOIN sys_role_menu rm ON m.menu_id = rm.menu_id
        LEFT JOIN sys_user_role ur ON rm.role_id = ur.role_id
        WHERE
            ur.user_id = #{userId}
	</select>
    <select id="selectMenuNormalAll" resultMap="menuMap">
        SELECT DISTINCT
            m.menu_id,
            m.parent_id,
            m.menu_name,
            m.url,
            m.visible,
            ifnull(m.perms, '') AS perms,
            m.menu_type,
            m.icon,
            m.order_num,
            m.create_time
        FROM
            sys_menu m
        WHERE
            m.menu_type IN ('M', 'C')
        ORDER BY
            m.parent_id,
            m.order_num
	</select>
    <select id="selectMenusByUserId" parameterType="long" resultMap="menuMap">
        SELECT DISTINCT
            m.menu_id,
            m.parent_id,
            m.menu_name,
            m.url,
            m.visible,
            ifnull(m.perms, '') AS perms,
            m.menu_type,
            m.icon,
            m.order_num,
            m.create_time
        FROM
            sys_menu m
        LEFT JOIN sys_role_menu rm ON m.menu_id = rm.menu_id
        LEFT JOIN sys_user_role ur ON rm.role_id = ur.role_id
        LEFT JOIN sys_role ro ON ur.role_id = ro.role_id
        WHERE
            ur.user_id = #{userId} and m.menu_type in ('M', 'C') AND ro.status = 0
        ORDER BY
            m.parent_id,
            m.order_num
    </select>
    <select id="selectResourceByRoleId" parameterType="long" resultMap="menuMap">
        SELECT
            m.menu_name
        FROM
            sys_menu m
        LEFT JOIN sys_role_menu rm ON m.menu_id = rm.menu_id
        WHERE
            rm.role_id = #{roleId}
        ORDER BY
            m.parent_id,
            m.order_num
    </select>
    <select id="selectMenuAll" resultMap="menuMap">
        SELECT DISTINCT
            m.menu_id,
            m.parent_id,
            m.menu_name,
            m.remark,
            m.url,
            m.visible,
            ifnull(m.perms, '') AS perms,
            m.menu_type,
            m.icon,
            m.order_num,
            m.create_time
        FROM
            sys_menu m
        WHERE
            m.menu_type IN ('M', 'C','F')
        ORDER BY
            m.parent_id,
            m.order_num
    </select>

</mapper>